$blue: rgb(33, 158, 188);
$blue-transacion-icon: rgb(33, 158, 188, 0.5);
$icon-blue: rgba(33, 158, 188, 0.5);
$bg-blue: rgba(33, 158, 188, 0.03);
$bg-transactions-blue: rgba(33, 158, 188, 0.05);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$granite: rgb(109, 109, 109);
$granite2: rgb(194, 194, 194);
$granite-light: rgba(168, 168, 168, 0.25);
$granite-nav-icons: rgba(122, 122, 122, 0.507);
$light-blue: rgb(207, 245, 255);
$light-blue-darker: rgb(140, 222, 243);
$orange: rgb(251, 133, 0);
$red: rgb(255, 31, 31);
$red-light: rgba(255, 31, 31, 0.25);
$green: rgb(0, 187, 19);
$green-light: rgba(0, 187, 19, 0.25);

$correct-text: rgb(0, 187, 19);
$correct: rgb(96, 179, 104);
$main: #316074ff;
$error-text: #dd0000;
$error-icons: #da6060;
