.inputContainer {
	position: relative;
	width: 100%;
	height: 4rem;
	border-radius: 0.8rem;
	// margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}

.input {
	width: 100%;
	height: 100%;
	padding: 1.1rem;
	outline: none;
	border: 0.1rem solid #b8b8b8;
	border-radius: 0.8rem;
	transition: border 0.2s, border-bottom-left-radius 0.2s,
		border-bottom-right-radius 0.2s;

	&:focus ~ label {
		color: #219ebc;
	}

	&:focus {
		border: 0.1rem solid #219ebc;
	}
}

.label {
	font-size: 1.4rem;
	color: #b8b8b8;
	position: absolute;
	top: -1.1rem;
	left: 1.1rem;
	background-color: #fff;
	padding: 0 0.3rem 0;
	transition: color 0.2s;
}

.listOpened {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.errorInput {
	border: 0.1rem solid #da6060;

	&:focus ~ label {
		color: #da6060;
	}

	&:focus {
		border: 0.1rem solid #da6060;
	}
}

.errorLabel {
	color: #da6060;
}

.errorIcon {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(50%, -50%);
	color: #da6060;
	font-size: 2.2rem;
}

.errorText {
	text-align: center;
	margin: 0.4rem 0 0 0rem;
	color: #da6060;
	font-size: 1.2rem;
}
