@import "tailwindcss";

@font-face {
	font-family: 'Montserrat';
	src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
	font-family: 'Roboto';
	src: url('./assets/fonts/Roboto-Regular.ttf');
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Roboto';
	font-size: 1.6rem;
}
