@import 'tailwindcss';

/* @font-face {
	font-family: 'Montserrat';
	src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf');
} */

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Roboto';
	font-size: 1.6rem;
	color: #323232;
	/* overflow: hidden; */
}
