.addBtn {
	// margin-top: 2.5rem;
	min-width: 4rem;
	height: 4rem;
	margin-left: 1.4rem;
	border-radius: 0.8rem;
	background-color: #219ebc;
	cursor: pointer;
}

.plusIcon {
	color: #fff;
	pointer-events: none;
}
