.header {
	font-size: 2rem;
	color: #219ebc;
	color: #0f4857;
	padding-bottom: 0.8rem;
	border-bottom: 0.1rem solid #219ebc;
	border-bottom: 0.1rem solid #0f4857;
	width: 100%;
	text-align: center;
	// margin-bottom: 2.5rem;
}
