.header {
	font-size: 2rem;
	color: #316074ff;
	color: #219ebc;
	padding-bottom: 0.8rem;
	border-bottom: 0.1rem solid #316074ff;
	border-bottom: 0.1rem solid #219ebc;
	width: 100%;
	text-align: center;
	margin-bottom: 2.5rem;
}
