@use '../../../assets/styles/colors';

.bg {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.title {
	font-size: 2rem;
	text-align: center;
	color: colors.$main;
	padding-bottom: 0.8rem;
	border-bottom: 0.1rem solid colors.$main;
}

.partsWrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	padding: 2.5rem;
}

.submitBtn {
	font-size: 1.6rem;
	margin-top: 1.8rem;
	height: 4.8rem;
	width: 100%;
	border-radius: 2.5rem;
	border: 0.1rem solid transparent;
	background-color: colors.$main;
	color: #fff;
	transition: 0.2s;
	cursor: pointer;

	&:hover {
		box-shadow: 0px 0px 9px -3px colors.$main;
	}
}

.info {
	text-align: center;
	margin-top: 3rem;
	font-size: 1.2rem;
}

.link {
	font-size: 1.6rem;
	text-decoration: none;
	color: colors.$blue;
	margin-left: 0.5rem;
}

@media (min-width: 768px) {
	.partsWrapper {
		border-radius: 1.2rem;
		box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 1);
		width: 34rem;
	}
}
