.container {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: hidden;
}

.box {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	width: 18rem;
	z-index: 100000;
	transform: translateX(100%);
	transition: transform 0.3s;
}

.openFilters {
     transform: translateX(0);
}

.title {
	text-align: center;
	margin-top: 5rem;
}

.monthBtn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 0.1rem solid #219ebc;
	border-bottom: 0.1rem solid #219ebc;
	height: 4.9rem;
	padding: 0 1.5rem 0;
	margin-top: 2rem;
	color: #219ebc;
}
