.container {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: hidden;
	background-color: #ffffff9f;
}

.bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: opacity 0.3s;
}

.blur {
	opacity: 1;
	z-index: 99999;
	backdrop-filter: blur(1rem);
}

.box {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	width: 22rem;
	z-index: 100000;
	transform: translateX(100%);
	transition: transform 0.3s, box-shadow 0.3s;
}

.openFilters {
	transform: translateX(0);
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
}

.title {
	padding: 2.5rem 2.5rem 0;
}

.monthBtn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 0.1rem solid #219ebc;
	border-bottom: 0.1rem solid #219ebc;
	height: 5.2rem;
	padding: 0 1.5rem 0;
	// margin-top: 2rem;
	color: #219ebc;
	background-color: rgba(33, 157, 188, 0.1);
}

.checkboxContainer {
	display: flex;
	align-items: center;
	margin-top: 1rem;
}

.checkbox {
	position: relative;
	border: 0.1rem solid #000;
	width: 2.2rem;
	height: 2.2rem;
	border-radius: 0.4rem;
	margin: 0 1rem 0 1.5rem;
}

.checked {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	// padding: 0.5rem;
	height: 1.2rem;
	width: 1.2rem;
	border-radius: 0.2rem;
	top: 50%;
	left: 50%;
	background-color: #219ebc;
	transform: translate(-50%, -50%);
}

.checkedIcon {
	color: #fff;
	font-size: 0.8rem;
}

.backArrow {
	position: absolute;
	top: 1.2rem;
	left: 1.2rem;
	font-size: 2.5rem;
	padding: 0.1rem 0.3rem 0.3rem;
	color: #323232;
}
