.container {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: hidden;
}

.box {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	width: 22rem;
	z-index: 100000;
	transform: translateX(100%);
	transition: transform 0.3s;
     // padding: 2.5rem 2.5rem 0;
}

.openFilters {
     transform: translateX(0);
}

.title {
	padding: 2.5rem 2.5rem 0;
}

.monthBtn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 0.1rem solid #219ebc;
	border-bottom: 0.1rem solid #219ebc;
	height: 5.2rem;
	padding: 0 1.5rem 0;
	// margin-top: 2rem;
	color: #219ebc;
     background-color: rgba(33, 157, 188, 0.10);
}
