.noScroll {
	overflow: hidden;
}

.bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: opacity 0.3s;
}

.blur {
	opacity: 1;
	z-index: 99999;
	backdrop-filter: blur(0.15rem);
}

.box {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	width: 22rem;
	z-index: 100000;
	overflow: hidden;
	transform: translateX(100%);
	transition: transform 0.3s, box-shadow 0.3s;
}

.scrollBox {
	overflow-y: auto;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.openFilters {
	transform: translateX(0);
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
}

.title {
	padding: 2.5rem 2.5rem 1.5rem;
	box-shadow: 0px -5px 10px 0px rgb(128, 128, 128);
	border-top: 0.1rem solid rgb(231, 231, 231);
	z-index: 1;
}

.monthsContainer {
	padding: 0 1rem 1rem;
	height: 5.8rem;
	// overflow: visible;
	transform-origin: top;
	transition: height 0.3s;
	// background-color: red;
}

.monthsOpen {
	// height: 100%;
	// overflow-y: auto;
	// background-color: rgba(33, 157, 188, 0.2);
}

.bottomBar {
	// position: absolute;
	// bottom: 0;
	// right: 0;
	// left: 0;
	padding: 1rem;
	border-top: 0.1rem solid rgb(231, 231, 231);
	box-shadow: 0px 5px 10px 0px rgb(128, 128, 128);
	margin-top: auto;
	background-color: #fff;
}

.saveBtn {
	background-color: red;
	border-radius: 0.8rem;
	height: 4.8rem;
	width: 100%;
	background-color: #023047;
	color: #fff;
}

.yearsBox {
	padding: 5rem 0rem 0rem;
	box-shadow: 0px -5px 10px 0px rgb(128, 128, 128);
}

.yearsContainer {
	overflow-y: auto;
	padding: 0rem 1rem 1rem;
	max-height: 16rem;
	background-color: rgba(33, 158, 188, 0.03);
}

.monthBtn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 0.1rem solid #219ebc;
	border-bottom: 0.1rem solid #219ebc;
	padding: 1.4rem 1.5rem 1.4rem;
	color: #219ebc;
	// color: #fff;
	// background-color: rgba(33, 157, 188, 0.5);
	background-color: #fff;
}

.monthBtnIcon {
	transition: transform 0.3s;
}

.monthBtnIconActive {
	transform: rotate(90deg);
}

.checkboxContainer {
	display: flex;
	align-items: center;
	margin-top: 1rem;
	// border: 0.1rem solid #9bd4e4;
	padding: 0.7rem;
	width: 100%;
	border-radius: 0.8rem;
	background-color: #fff;
	transition: border 0.1s, background-color 0.1s;
}

.monthsClose {
	display: none;
}

.checkedContainer {
	// border: 0.1rem solid #219ebc;
	background-color: #e4f0f4;
}

.checkbox {
	position: relative;
	border: 0.1rem solid #323232;
	width: 2.2rem;
	height: 2.2rem;
	border-radius: 0.4rem;
	margin: 0 1rem 0 0;
}

.square {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 1.2rem;
	width: 1.2rem;
	border-radius: 0.2rem;
	top: 50%;
	left: 50%;
	background-color: #219ebc;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: opacity 0.1s;
}

.checked {
	opacity: 1;
}

.checkedIcon {
	color: #fff;
	font-size: 0.8rem;
}

.backArrow {
	position: fixed;
	top: 1.2rem;
	left: 1.2rem;
	font-size: 2.5rem;
	padding: 0.1rem 0.3rem 0.3rem;
	color: #323232;
	z-index: 2;
}

.tags {
	// margin-bottom: 6.9rem;
}

.periodTitles {
	text-align: center;
	display: block;
	background-color: rgba(33, 157, 188, 0.6);
	color: #fff;
	border-radius: 0.4rem;
	// margin-top: 0.5rem;
}

.periodYearsTitle {
	margin-top: 0.5rem;
}

.periodMonthsTitle {
	margin-top: 1.5rem;
}
