.modalBox {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1000000000000000000000000000;
	visibility: hidden;
	opacity: 0;
	backdrop-filter: blur(1rem);
	background-color: rgba(33, 157, 188, 0.103);
	transition: opacity 0.3s, visibility 0s 0.3s;
}

.modalBoxOpen {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.3s, visibility 0s;
}

.container {
	background-color: #fff;
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 2.5rem;
	box-shadow: 0px 0px 20px -10px rgb(128, 128, 128);
	transform: translateY(100%);
	transition: transform 0.3s;
}

.modalOpen {
	transform: translateY(0);
	transition: transform 0.3s;
}

.btnWrapper {
	margin-top: 2.5rem;
	max-height: 21.5rem;
	overflow-y: auto;
	width: 100%;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: left;
	padding: 1rem;
	width: 100%;
	background-color: #e4f0f4;
	border-radius: 0.8rem;
	margin-top: 1rem;

	&:first-child {
		margin-top: 0;
	}
}

.walletBalance {
	margin-left: 0.5rem;
}
