.inputContainer {
	position: relative;
	width: 100%;
	display: flex;
	height: 4rem;
	margin-bottom: 2.5rem;
}

.box {
	margin-top: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
