.container {
	position: relative;
	margin-bottom: 2.2rem;
	height: 4rem;
	width: 100%;
}

.dropdownBtn {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem 0;
	// margin-top: 2.2rem;
	width: 100%;
	// height: 4rem;
	height: 100%;
	border: 0.1rem solid #b8b8b8;
	border-radius: 0.8rem;
	transition: border 0.2s, border-bottom-left-radius 0.2s,
		border-bottom-right-radius 0.2s;
}

.openBorder {
	border: 0.1rem solid #219ebc;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.dropdownTitle {
	font-size: 1.4rem;
	color: #b8b8b8;
	position: absolute;
	top: -1.1rem;
	left: 1.1rem;
	background-color: #fff;
	padding: 0 0.3rem 0;
	transition: color 0.2s;
}

.openTitle {
	color: #219ebc;
}

.dropdownChevron {
	font-size: 1.4rem;
	color: #b8b8b8;
	transition: color 0.2s, transform 0.2s;
}

.openChevron {
	color: #219ebc;
	transform: rotate(-180deg);
}

// .dorpdownSelectText {
// 	left: 1rem;
// }

.selectedItemBalanceText {
	color: #6fad24;
}

.test {
	color: #8899a6;
}

.colorBox {
	width: 100%;
	height: 2rem;
	margin-right: 1rem;
	margin-top: 0.5rem;
	border-radius: 0.4rem;
}
