@use '../../../assets/styles/colors';

.transactions {
	position: absolute;
	top: 14rem;
	left: 0;
	right: 0;
	margin: 0 1rem 0;
	// z-index: -1;
	z-index: 1000;
}

.topBar {
	background-color: #fff;
	border: 0.1rem solid rgba(33, 157, 188, 0.219);
	border-radius: 0.6rem;
	margin-top: 2rem;
	margin-bottom: 0.5rem;
	display: flex;
	font-size: 1.4rem;
}

.amountBoxes {
	color: #5d5d5d;
}

.amountContainer {
	margin-left: auto;
	display: flex;
}

.amountIcons {
	margin-right: 0.5rem;
}

.incomeBox {
	margin-right: 3rem;
}

.costBox {
	margin-right: 1rem;
}

.costIcon {
	color: #ff1f1f;
}

.incomeIcon {
	color: #00bb13;
}

.date {
	margin-left: 1rem;
	color: colors.$blue;
}

.transaction {
	padding: 0.6rem;
	display: flex;
	align-items: center;
	min-height: 4.9rem;
	border-radius: 0.8rem;
	border-bottom: 0.1rem solid colors.$granite-light;
	background-color: colors.$white;
	box-shadow: 0px 9px 10px -12px rgb(128, 128, 128);
	font-size: 1.6rem;

	&:last-child {
		margin-bottom: 7.5rem;
	}
}

.titleContainer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 6rem;
}

.iconBg {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 4.6rem;
	height: 3.7rem;
	border-radius: 0.6rem;
	background-color: colors.$blue-transacion-icon;
}

.icon {
	font-size: 2rem;
	color: colors.$white;
}

.title {
	overflow-wrap: anywhere;
}

.price {
	padding: 0 0 0 1rem;
	color: colors.$granite;
	color: #ff4a4a;
}

.priceEnding {
	color: colors.$granite-nav-icons;
	font-size: 1.1rem;
	margin-left: 0.2rem;
}

.transactionFirstBorder {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.transactionBetweenBorder {
	border-radius: 0;
}

.transactionLastBorder {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
