@use '../../../assets/styles/colors';

.transactions {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 13rem;
	left: 0;
	right: 0;
	margin: 0 1rem 0;
	z-index: 1000;
}

.topBar {
	background-color: rgba(33, 157, 188, 0.11);
	box-shadow: 0px 9px 5px -12px rgb(128, 128, 128);
	border-radius: 0.8rem;
	margin-top: 3rem;
	margin-bottom: 0.5rem;
	display: flex;
	padding: 1.25rem;
	font-weight: 300;
	width: 100%;
}

.topBarMonth {
	background-color: rgba(202, 136, 38, 0.11);
	box-shadow: 0px 9px 5px -12px rgb(128, 128, 128);
	border-radius: 0.8rem;
	margin-top: 3rem;
	margin-bottom: 0.5rem;
	display: flex;
	padding: 0.5rem 1.25rem 0.5rem;
	font-weight: 300;
	width: 100%;
}

.dateMonth {
	color: rgb(170, 114, 30);
}

.amountBoxes {
	color: #5d5d5d;
}

.amountContainer {
	margin-left: auto;
	display: flex;
}

.amountIcons {
	margin-right: 0.5rem;
}

.incomeBox {
	margin-right: 5rem;
}

.costBox {
	margin-left: auto;
}

.costIcon {
	color: #ff1f1f;
}

.incomeIcon {
	color: #00bb13;
}

.date {
	color: colors.$blue;
}

.transaction {
	padding: 0.6rem;
	display: flex;
	align-items: center;
	min-height: 4.9rem;
	border-radius: 0.8rem;
	border-bottom: 0.1rem solid colors.$granite-light;
	background-color: #fff;
	box-shadow: 0px 9px 5px -12px rgb(128, 128, 128);
	width: 100%;
	font-size: 1.6rem;
	cursor: pointer;
	transition: background-color 0.1s, transform 0.1s;

	&:last-child {
		margin-bottom: 7.5rem;
	}

	&:hover {
		background-color: rgb(235, 235, 235);
		border: none;
		transform: scale(101%);
	}
}

.titleContainer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 6rem;
}

.iconBg {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 4.6rem;
	height: 3.7rem;
	border-radius: 0.6rem;
	background-color: colors.$blue-transacion-icon;
}

.icon {
	font-size: 2rem;
	color: colors.$white;
}

.title {
	overflow-wrap: anywhere;
}

.price {
	padding: 0 0 0 1rem;
	color: colors.$granite;
}

.redPrice {
	color: #ff4a4a;
}

.greenPrice {
	color: #3acf67;
}

.priceEnding {
	color: colors.$granite-nav-icons;
	font-size: 1.1rem;
	margin-left: 0.2rem;
}

.transactionFirstBorder {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.transactionBetweenBorder {
	border-radius: 0;
}

.transactionLastBorder {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: none;
}

@media (min-width: 1024px) {
	.transaction {
		width: 100rem;
	}

	.topBar {
		width: 100rem;
	}

	.topBarMonth {
		width: 100rem;
	}
}
