@use '../../../assets/styles/colors';

.transactions {
	position: absolute;
	top: 20rem;
	left: 0;
	right: 0;
	margin: 0 1rem 0;
	// z-index: -1;
	z-index: 1000;
	
	&__date {
		display: inline-block;
		margin-left: 1rem;
		margin-top: 1rem;
		font-size: 1.4rem;
		color: colors.$blue;
	}

	&__transaction {
		padding: 0.6rem;
		display: flex;
		align-items: center;
		min-height: 4.9rem;
		border-radius: 0.8rem;
		border-bottom: 0.1rem solid colors.$granite-light;
		background-color: colors.$white;
		box-shadow: 0px 9px 10px -12px rgb(128, 128, 128);
		font-size: 1.6rem;

		&:last-child {
			margin-bottom: 15rem;
		}
	}

	&__title-container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-left: 6rem;
	}

	&__icon-bg {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 4.6rem;
		height: 3.7rem;
		border-radius: 0.8rem;
		background-color: colors.$blue-transacion-icon;
	}

	&__icon {
		font-size: 2rem;
		color: colors.$white;
	}

	&__title {
		overflow-wrap: anywhere;
	}

	&__price {
		padding: 0 0 0 1rem;
		color: colors.$granite;
		color: #ff4a4a;
	}

	&__price-ending {
		color: colors.$granite-nav-icons;
		font-size: 1.1rem;
		margin-left: 0.2rem;
	}
}

.transaction-first-border {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.transaction-between-border {
	border-radius: 0;
}

.transaction-last-border {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
