@use '../../assets/styles/colors';

.box {
	position: relative;
	margin-top: 1.8rem;
}

.label {
	position: absolute;
	left: 0.7rem;
	bottom: 1.4rem;
	color: colors.$granite;
	transition: 0.1s;
}

.labelUp {
	bottom: 3rem;
	font-size: 1.2rem;
}

.input {
	padding: 2rem 1rem 1rem;
	width: 100%;
	border-radius: 1rem;
	border: none;
	outline: 0.1rem solid colors.$granite;
	font-size: 1.6rem;
}

.inputError {
	outline: 0.1rem solid colors.$error-icons;
}

.form {
	display: flex;
	flex-direction: column;
}

.errorText {
	text-align: center;
	margin: 0.4rem 0 0 0rem;
	color: colors.$error-text;
	font-size: 1.2rem;
}

.errorIcon {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(50%, -50%);
	color: colors.$error-icons;
	font-size: 2.2rem;
}

.correctIcon {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(50%, -50%);
	color: colors.$correct;
	font-size: 2.2rem;
}

.inputCorrect {
	outline: 0.1rem solid colors.$correct;
}

.passwordInfo {
	color: rgb(109, 109, 109);
	text-align: center;
	margin-top: 0.3rem;
	font-size: 1.3rem;
}

.passwordInfoList {
	color: rgb(109, 109, 109);
	position: relative;
	margin-top: 0.5rem;
	left: 1.8rem;
	font-size: 1.2rem;
}

.passwordInfoText {
	color: colors.$correct-text;
}

.passwordInfoErrorText {
	color: colors.$error-text;
}

.passwordInfoTextBox {
	margin-top: 1.5rem;
	padding: 0.5rem;
	border: 0.1rem solid rgba(49, 96, 116, 0.8);
	border-radius: 1rem;
	background-color: rgba(199, 238, 255, 0.1);
}
